# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintrc.json
*.json
*.json
*.html
*.scss
*.tsx
.eslintrc.json
.prettierrc.json
package-lock.json
package.json
public/404.html
public/index.html
public/manifest.json
README.md
src/components/AboutMeItem/AboutMeItem.scss
src/components/AboutMeItem/AboutMeItem.tsx
src/components/AboutMeList/aboutMeItems.ts
src/components/AboutMeList/AboutMeList.scss
src/components/AboutMeList/AboutMeList.tsx
src/components/AlbumCard/AlbumCard.scss
src/components/AlbumCard/AlbumCard.tsx
src/components/AlbumCard/albums.ts
src/components/AlbumList/AlbumList.tsx
src/components/App.tsx
src/components/Blog/Blog.tsx
src/components/BlogCalendarMonth/BlogCalendarMonth.tsx
src/components/BlogPost/BlogPost.scss
src/components/BlogPost/BlogPost.tsx
src/components/BlogPost/blogPosts.tsx
src/components/CourseList/CourseList.scss
src/components/CourseList/CourseList.tsx
src/components/CourseList/courses.ts
src/components/Footer/Footer.scss
src/components/Footer/Footer.tsx
src/components/FullScreenTitle/FullScreenTitle.scss
src/components/FullScreenTitle/FullScreenTitle.tsx
src/components/Heading/Heading.scss
src/components/Heading/Heading.tsx
src/components/Navigation/Navigation.scss
src/components/Navigation/Navigation.tsx
src/components/Navigation/socials.ts
src/components/ProjectCard/ProjectCard.scss
src/components/ProjectCard/ProjectCard.tsx
src/components/ProjectCard/projects.tsx
src/components/ProjectList/ProjectList.tsx
src/components/Section/Section.tsx
src/components/TechnologyList/technologies.ts
src/components/TechnologyList/TechnologyList.scss
src/components/TechnologyList/TechnologyList.tsx
src/components/Timeline/experiences.tsx
src/components/Timeline/Timeline.scss
src/components/Timeline/Timeline.tsx
src/components/TimelineDescription/TimelineDescription.scss
src/components/TimelineDescription/TimelineDescription.tsx
src/components/TimelineItem/TimelineItem.scss
src/components/TimelineItem/TimelineItem.tsx
src/components/Title/Title.scss
src/components/Title/Title.tsx
src/index.scss
src/index.tsx
src/pages/About/About.tsx
src/pages/BTW/BTW.tsx
src/pages/NotFound/NotFound.scss
src/pages/NotFound/NotFound.tsx
src/pages/Work/Work.tsx
src/react-app-env.d.ts
src/reportWebVitals.ts
src/setupTests.ts
src/styles/_animations.scss
src/styles/_colors.scss
src/styles/_fonts.scss
tsconfig.json
.prettierrc.json
package-lock.json
package.json
public/404.html
public/index.html
